#menusuperior{
    background-image: url(imagens/planofundo.svg);
    color: aliceblue;
    margin: 0px;
    font-family: 'inter';
}

#titulo{
    margin-top: 50px;
    margin-left: 50px;
}
#titulo-menusuperior{
    margin-left: 150px;
    margin-top: 50px;
}

#texto-menusuperior{
    margin-left: 150px;
    margin-top: 35px;
    padding-bottom: 100px;
}

#menuinformacional{
    background-color:#EAECE5;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

.icone{
    margin: 50px 0px 50px 100px;
    padding: 25px;
}

.textoinformativo{
    display: flex;
    align-items: center;
    font-family: 'inter';
}

#secaovideo{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    font-family: 'inter';
}

#titulovideo{
    color: #247BA0;
    margin-top: 50px;
}

#video{
    margin: 50px 25px 50px 100px;
}

#carrossel{
    background-color: #247BA0;
    padding: 50px;
    font-family: 'inter';
}

#titulo-carrossel{
    text-align: center;
    color: white;
    font-size: 25px;
}

#div-cards{
    display: grid;
    grid-auto-flow: column;
}

.cards{
    margin-left: 50px;
}

.seta{
    margin-top: 55px;
    cursor: pointer;
}   

.seta:hover{
    transform: translateY(-7px);
    transition-duration: 0.5s;
}

#setaesquerda{
    display: none;
}

#lusis{
    display: none;
}

#Formulario{
    text-align: center;
}

#titulo-formulario{
    font-size: 25px;
    font-family: "inter";
    margin: 25px;
    color: #383838;
}

input{
    width: 300px;
    height: 40px;
    background-color: #EAECE5;
    margin: 15px;
    border: 0px;
    border-radius: 5px;
    padding-left: 10px;
}

button{
    background-color: #247BA0;
    width: 250px;
    height: 40px;
    color: #EAECE5;
    border: 0px;
    border-radius: 5px;
    margin-bottom: 50px;
    font-weight: bolder;
    cursor: pointer;
}

button:hover{
    background-color: #2989b3;
    color: white;
    transform: translateY(-7px);
    box-shadow: 0px 15px 20px #0c3344;
    transition-duration: 500ms;
}

